[submodule "3rdparty/wxWidgets"]
	path = 3rdparty/wxWidgets
	url = https://github.com/vadz/wxWidgets.git
[submodule "3rdparty/wxpdfdoc"]
	path = 3rdparty/wxpdfdoc
	url = https://github.com/vadz/wxpdfdoc.git
[submodule "3rdparty/xmlwrapp"]
	path = 3rdparty/xmlwrapp
	url = https://github.com/vadz/xmlwrapp.git
