# Don't include stuff which is only useful when using Git and CI (which is only
# used with the actual repository and never the archives).
.github/                        export-ignore
.gitattributes                  export-ignore
.gitignore                      export-ignore
.gitmodules                     export-ignore
hooks/                          export-ignore

# Also exclude semi-personal files living in the repository.
gwc/                            export-ignore
tabs/                           export-ignore
vz/                             export-ignore
