{{!
    The header is split in two parts, upper and lower one, only to allow
    inserting the title between them, as a couple of pages do. But we still
    provide this "full header" template for the pages that don't have any
    title to make them simpler.
 }}
{{>nasd_header_upper}}
<br></br>
{{>nasd_header_lower}}
