<font size="-2">

<p>
* This illustration is based on the assumed Gross Rate shown.
The Net Rate is provided for information purposes only.
<br>
** {{PremAllocationFootnote}}
<br>
See the Explanatory Notes for important {{ContractName}} information.
This illustration is not complete without all pages.
</p>

</font>
