{{>reg_d_group_header_upper}}
<p align="center">
{{#IsInforce}}
    In Force
{{/IsInforce}}
Basic Illustration
</p>
{{>reg_d_group_header_lower}}

{{>dollar_units}}

<br></br>
<br></br>

{{! Basic illustration table is created from C++ code }}
