// Trivial msw resource file for wxWindows.
//
// Copyright (C) 2002, 2003, 2004 Gregory W. Chicares.
//
// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License version 2 as
// published by the Free Software Foundation.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
//
// http://groups.yahoo.com/group/actuarialsoftware
// email: <chicares@mindspring.com>
// snail: Chicares, 186 Belle Woods Drive, Glastonbury CT 06033, USA

// $Id: lmi.rc,v 1.1.1.1 2004-05-15 19:58:51 chicares Exp $

// To make msw use this:
AAAAAAAA ICON "mondrian.ico"
// as the application's icon e.g. for 'explorer', make sure it's both
// the first icon alphabetically and the first defined in the resource
// file, for reasons explained here:
//   http://groups.google.com/groups?selm=a825ce%244iqj%241%40as201.hinet.hr
// On the msw platform, this icon must be embedded in the application
// binary. Other icons are treated the same way here, not because they
// must be, but simply as a matter of consistency and convenience.

IDI_HTML_VIEW ICON "html_view.ico"
IDI_TEXT_VIEW ICON "text_view.ico"

// File 'mondrian.ico' provided with this application is a derived
// work based on the file of the same name provided with wxWindows.
// It was modified by GWC in 2004 to add bitmaps of other sizes as the
// msw platform expects.

// Get stock cursors etc.
#include <wx/msw/wx.rc>

